/* ============================ image hover ====================================================== */
@keyframes pop {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateX(-2.0rem);
    }
    100%{
        transform: translateX(0);
    }
}
/* ========================= background-image animation============================================== */
@keyframes animate{
    0%{
        background-image: url(./pic/img.jpg);
    }
    20%{
        background-image: url(./pic/img2.jpg);
    }
    40%{
        background-image: url(./pic/img7.jpg);
    }
    50%{
        background-image: url(./pic/img11.jpg);
    }
    60%{
        background-image: url(./pic/img2.jpg);
    }
    80%{
        background-image: url(./pic/img7.jpg);
    }
    100%{
        background-image: url(./pic/img11.jpg);
    }
}
/* ================================ slider animation ============================================ */
@keyframes slider{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-196px * 4));
    }

}
